
/*
 * Base structure
 */

 
 
 
 
 
 body {
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
   padding: 2rem;
   background-image: url("/src/components/assets/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: uppercase;
   

 }
 



